@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 290 33% 96%;
        --foreground: 240 10% 3.9%;
        --card: 290 33% 96%;
        --card-foreground: 240 10% 3.9%;
        --popover: 290 33% 96%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 284 46% 51%;
        --primary-foreground: 0 0% 100%;
        --secondary: 283 59% 74%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 284 72% 65%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 346.8 77.2% 49.8%;
        --radius: 0.3rem;
    }

    .dark {
        --background: 283 33% 4%;
        --foreground: 0 0% 95%;
        --card: 283 33% 4%;
        --card-foreground: 0 0% 95%;
        --popover: 283 33% 4%;
        --popover-foreground: 0 0% 95%;
        --primary: 284 46% 49%;
        --primary-foreground: 285 22% 93%;
        --secondary: 283 59% 26%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 15%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 284 72% 35%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 346.8 77.2% 49.8%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* edge*/
    scrollbar-width: none; /* firefox */
}

::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    @apply !bg-inherit;
}

::-webkit-scrollbar-thumb {
    @apply !rounded-md !bg-primary hover:!bg-primary/90 transition-all duration-300;
}

.base-container {
    @apply container;
}

.cart-input-quantity > input[type="number"]::-webkit-inner-spin-button,
.cart-input-quantity > input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
}
